h1{
    color : blue;
}
p{
    font-family : 'Trebuchet MS';
}
*{
    border : solid;
}

.header{
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;  
}

.icon{
    align-content: center;
}